/*
    FONTS
*/

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

/*
    SCREEN
*/
body {
    margin: 0 10px;
    height: calc(100% - 10px);
    width: calc(100% - 20px);
}


/* 
    CLOCK
*/

.module.clock {
    display: inline-block;
    vertical-align: top;
    width: 325px;
}

.clockGrid {
    gap: 0px;
}

.digital {
    display: flex;
    flex-direction: column;
}

/* Date */
div.date {
    order: 2;
    font-family: "Quicksand", sans-serif;
    color: #ddd;
    margin-top: 4px;
}

div.date > small{
    color: #ddd;
}

/* Time */
div.time {
    order: 1;

    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 120px;
    line-height: 105px;
    letter-spacing: -2px;
    color: #fff;    
}

.region.top.bar {
    text-align: start;
}

/*
    WEATHER
*/

.module.MMM-OpenWeatherMapForecast {
    display: inline-block;
    vertical-align: top;
}

.module.MMM-OpenWeatherMapForecast > div > div > div > div.current-conditions-wrapper.icon-set-7c > span > span.current.feelslike.dimmed.light {
    display: none;
}

.module.MMM-OpenWeatherMapForecast .summary { 
    display: none;
}