
/* 
    CLOCK
*/

#module_2_clock > div > div {
    display: flex;
    flex-direction: column;
}

/* Date */
#module_2_clock > div > div > div.date {
    order: 2;
}

/* Time */
#module_2_clock > div > div > div.time {
    order: 1;

    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 90px;
    line-height: 75px;
    letter-spacing: -3px;
    color: #fff;    
}

